export NUM_THREADS=6
export QUEUE_MAX_SIZE=10000
export BUFFER_SIZE=64MB
export BATCH_SIZE=1000
export LOGGING_ENABLED=1
export SMALL_FILE_THRESHOLD=1024
export CHUNKING_THRESHOLD=64MB
export MULTIFIND=1